@import "./Colors.scss";
@import "./Grid.scss";
@import "./Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {}

.container {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.content {
    display: flex;
    width: 100%;
}

.box {
    padding: 20px;
    border-radius: 10px;
}

.map {
    width: 100%;
    height: 500px;

    .content {
        height: 100%;
    }
}

.tab {
    width: 100%;
    font-size: 14px !important;
}

.chart {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        canvas {
            height: 100%;
        }
    }
}







.decade-select {

    position: fixed;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 10px;
    font-size: 14px;
    z-index: 99999;

    select {
        font-size: 14px;
        // padding: 5px 10px;
    }

    option {
        font-size: 14px;
    }
}

.popup {
    width: 100%;
    height: 200px;
    overflow: auto;
    padding: 0px;

}

.gm-style-iw,
.gm-style-iw-c,
.gm-style-iw-d {
    padding: 0 !important;
    position: relative;
    overflow: auto !important;
}

.gm-ui-hover-effect {
    position: absolute !important;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        font-size: 14px;
    }

    li {
        padding: 10px;
    }
}